<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>individual animal</title>
  <link rel="stylesheet" href="/css/animal.css">
</head>
<body>
 
  <h2>Breed:<%=animal.Stype%></h2>
  <img src=<%= animal.imageURL%> alt="">
  <div>When : <%= animal.found%></div>
  <div>Founded at: <%= animal.placeFound%></div>
  <div>Status: <%= animal.status%></div>
  <div>Physical condition: <%= animal.physical_conditon%></div>
  <div>Description: <%= animal.description%></div>

  
</body>
</html>