<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>This page renders all animals</title>
  <link rel="stylesheet" href="/css/animals.css">
</head>
<body>
  <h1>Found animals' list:</h1>
  <div class='all-animals'>
  <% for(const animal of animals){ %>
    <div class='each-animal'>
      <h1><%= animal.Stype%></h1>
      <img src=<%= animal.imageURL%> alt=<%= animal.Stype%>>
      <h3>Found At : <%=animal.found%></h3>
    <a href="/api/animals/<%= animal.id%>">more details</a>
  </div>
    <%}%>
  </div>
</body>
</html>