<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>This page renders all animals</title>
  <link rel="stylesheet" href="/css/animals.css">
</head>
<body>
  <h1>Found animals' list:</h1>

  <% for(const animal of animals){ %>
    <h1><%= animal.Stype%></h1>
    <img src=<%= animal.imageURL%> alt=<%= animal.Stype%>>
    <h4><%= animal.placeFound%></h4>
    <h4><%= animal.status%></h4>
    <%}%>
</body>
</html>